* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
td {
  height: 60px;
  width: 60px;
  border-bottom: solid black 3px;
  background-color: aqua;
}

body {
  text-align: center;
  background-color: blueviolet;
}

table {
  margin-top: 5px;
  display: inline-block;
}

.mid {
  border-left: solid black 3px;
  border-right: solid black 3px;
}

.bottom {
  border-bottom: none;
}

#win-count {
  width: 30vw;
  height: 10vw;
  background-color: blue;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 0px;
}
#win-count div {
  display: inline-block;
  width: 35%;
}
